#refresh, #change {
    outline: none;
    cursor: pointer;
    border: solid 1px gray;
    border-radius: 5px;
    color: gray;
    margin-top: 5px;
    background-color: white;
    font-size: 20px;
}

#container {
    display: none;
    margin: 0 auto;
}

td {
    text-align: center;
    color: gray;
    vertical-align: middle;
}

#block {
    clear: both;
}

#block td {
    border: solid 1px gray;
    border-radius: 15px;
    text-align: center;
    font-size: 40px;
    color: gray;
    width: 55px;
    height: 55px;
    box-sizing: border-box;
}

#block td:hover {
    cursor: pointer;
}

#options {
    display: block;
    width: 250px;
    margin: 0 auto;
}

.size {
    min-width: 250px;
    margin-bottom: 10px;
    float: left;
}

.size label {
    color: grey;
    font-size: 20px;
    margin-right: 15px;
}

.size select {
    outline: none;
    color: grey;
    font-size: 20px;
    border: solid 1px gray;
}

#slide-container {
    margin-top: 5px;
    width: 100%;
}

.animation-label {
    color: grey;
    font-size: 20px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    outline: none;
    opacity: 0.7;
    width: 100%;
    height: 15px;
    border-radius: 10px;
    background-color: lightgrey;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background: #4CAF50;
    cursor: pointer;
}